<div class="chat-window__contact-info">
    <div class="avatar">
        {{#if avatar}}
        <div>avatar</div>
        {{else}}
        {{{ chatAvatar }}}
        {{/if}}
    </div>
    <h1 class="chat-window__contact-name">
        {{title}}
    </h1>
</div>
<button class="chat-window__control button" id="chat-window-header-button">
    <div>{{{ headerButton }}}</div>
    {{{ dropdown }}}
</button>
