<div class="chat-window__footer">
    <button class="attach-file-button" id="attach-file-button">
        {{#attachFileIcon}}{{attachFileIcon}}{{/attachFileIcon}}
    </button>
    <input type="text" placeholder="Сообщение" class="message-input"></input>
    <button class="send-message-button">
        {{#sendMessageIcon}}{{sendMessageIcon}}{{/sendMessageIcon}}
    </button>
    {{#> Dropdown style="bottom: 120%" id="choose-file-dropdown" }}
        <ul class="list-items">
            <li class="list-item"><span class="list-item__icon">{{#fileIcon}}{{fileIcon}}{{/fileIcon}}</span><span class="list-item__text">Фото или Видео</span></li>
            <li class="list-item"><span class="list-item__icon">{{#locationIcon}}{{locationIcon}}{{/locationIcon}}</span><span class="list-item__text">Файл</span></li>
            <li class="list-item"><span class="list-item__icon">{{#photoIcon}}{{photoIcon}}{{/photoIcon}}</span><span class="list-item__text">Локация</span></li>
        </ul>
    {{/ Dropdown }}
</div>