<div class="message">
    {{ messageText }}
    {{#if messageImg}}
    <img class="message__photo" src="{{{ messagePhoto }}}" alt="picture">
    {{/if}}
    <div class="message__meta">
        {{#if messageFromMe}}
            <div class="message__status">
                {{#if messageRead}}
                    {{{ messageReadIcon }}}
                    {{else}}
                    {{{ messageUnreadIcon }}}
                {{/if}}
            </div>
        {{/if}}
        <time class="message__date {{#if messageImg}} {{messageTimeClass}}{{/if}}">12:00</time>
    </div>
</div>
