<li class="profile-form__field">
    <label for="{{ fieldName }}" class="profile-form__field-name">{{ fieldLabel }}</label>
    <input id="{{ fieldName }}" name="{{ fieldName }}" type="{{ inputType }}" placeholder="{{ placeholder }}" class="profile-form__input" value="{{ fieldValue }}" disabled="{{ fieldDisabled }}" />
</li>
