<li class="profile-form__field">
    <label for="{{ inputId }}" class="profile-form__field-name">{{ fieldName }}</label>
    <input id="{{ inputId }}" name="{{ inputName }}" type="{{ inputType }}" placeholder="{{ placeholder }}" class="profile-form__input" value="{{ fieldValue }}" disabled="{{ fieldDisabled }}" />
</li>