<div class="profile-form__field">
    <span class="profile-form__field-name">{{ fieldName }}</span>
    <input type="{{ inputType }}" placeholder="{{ placeholder }}" class="profile-form__input" value="{{ fieldValue }}" disabled="{{ fieldDisabled }}"></input>
</div>