{{#if dataLoaded}}
<div class="main-page__content">
    {{{ chatList }}}
    {{{ chatWindow }}}
    {{{ addUserModal }}}
    {{{ deleteUserModal }}}
    {{{ addChatModal }}}
</div>
{{else}}
<div class="main-page__content">
    Загрузка...
</div>
{{/if}}

