{{#if modalTitle}}
<h1 class="modal__title">
    {{{ modalTitle }}}
</h1>
{{/if}}
<label for="avatar" id="file-input-label">{{labelText}}</label>
{{{input}}}
{{#if errorText}}
<p class="form-error-text">{{errorText}}</p>
<br>
{{/if}}
<div class="modal__buttons">
    {{{ buttons }}}
</div>

