{{#if formTitle}}
<h2 class="form__title">
    {{ formTitle }}
</h2>
{{/if}}
<div class="form__input" >
    {{{ input }}}
    {{#if showSearchResult}}
    <ul class="search-result">
        {{#if noResult}}
        <li class="no-result-text">Пользователь не найден</div>
        {{else}}
        {{{searchResult}}}
        {{/if}}
    </ul>
    {{/if}}
</div>
{{#if showSelectedUsers}}
<ul class="selected-users">{{{selectedUsers}}}</ul>
{{/if}}
{{#if errorText}}
<p class="form-error-text">{{errorText}}</p>
{{/if}}
<div class="form__buttons" id="form-buttons">
    {{{ buttons }}}
</div>
